Start all chats with 🤖

## Stack
-React
-Next.js version 15.1.6
-TailwindCSS
-Typescript
-Supabase
-Vercel
-Shadcn
use shadcn@latest do not use shadcn/ui or shadcn-ui

-TailwindCSS
- remember we are developing in windows
don't run concurrent commands with &&, always run them one by one



